@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: aqua; */
  background-image: url(background-tw.jpg);
  background-size: cover;
  /*   background-position: center; */
}
#divider {
  border-left: 1px solid rgb(0, 0, 0);
  height: 30px;
}
